<h3>Add link</h3>

<%= form_for :link, url: links_path do |f| %>
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, autofocus: true, class: 'form-control', :value => @title %>
  </div>

  <div class="form-group">
    <%= f.label :url %><br>
    <%= f.text_field :url, class: 'form-control', :value => @url %>
  </div>

  <div class="form-group">
    <%= f.label :tags %><br>
    <%= f.text_field :tags, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :notes %><br>
    <%= f.text_area :notes, class: 'form-control' %>
  </div>

  <%= f.submit "Add link", class: 'btn btn-primary' %>
<% end %>
