<% if @link %>
  <h3><%= link_to @link.title, @link.url, target: "_blank" %></h3>
  <%= @link.url %>
  <h4>Tags:</h4>
  <%= @link.tags.count > 0 ? flatten_tags_with_links(@link.tags) : "No tags"%>
  <h4>Notes:</h4>
  <%= @link.notes != "" ? @link.notes : "No notes" %>
  <div class="buttons">
  <%= link_to "Edit", edit_link_path(@link), class: 'btn btn-primary' %>
  <%= link_to "Back", :back, class: 'btn btn-default' %>
  </div>
<% else %>
  <h2>Non existent link</h2>

  <div class="buttons">
  <%= link_to "Back", :back, class: 'btn btn-default' %>
  </div>
<% end %>
